<canvas id="construction" width="600" height="400"></canvas>
<script>
    ;(function () {
        const labels = {{ data.labels|json_encode|raw }};
        const data = {
            labels: labels,
            datasets: [
                {
                    label: 'Low-rise',
                    data: {{ data.lowRiseDataset|json_encode|raw }},
                    backgroundColor: '#f3969a',
                },
                {
                    label: 'Mid-rise',
                    data: {{ data.midRiseDataset|json_encode|raw }},
                    backgroundColor: '#78c2ad',
                },
                {
                    label: 'High-rise',
                    data: {{ data.highRiseDataset|json_encode|raw }},
                    backgroundColor: '#6cc3d5',
                },
            ]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Construction by building type'
                    },
                },
                responsive: false,
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true
                    }
                }
            }
        };

        new Chart('construction', config);
    })();
</script>
