<table id="demand" class="table table-bordered" style="text-align: center; vertical-align: middle">
    <tbody>
        <tr class="font-weight-bold">
            <td rowspan="2">Year</td>
            <td colspan="3">High-rise</td>
            <td colspan="3">Mid-rise</td>
            <td colspan="3">Low-rise</td>
        </tr>
        <tr class="font-weight-bold">
            <td>One-bedroom</td>
            <td>Two-bedroom</td>
            <td>Three-bedroom</td>
            <td>One-bedroom</td>
            <td>Two-bedroom</td>
            <td>Three-bedroom</td>
            <td>One-bedroom</td>
            <td>Two-bedroom</td>
            <td>Three-bedroom</td>
        </tr>
        {% for label in data.labels %}
            <tr>
                <td class="font-weight-bold">{{ label }}</td>
                <td>{{ data.highRiseOneBedroomDataset[loop.index - 1] }}</td>
                <td>{{ data.highRiseTwoBedroomDataset[loop.index - 1] }}</td>
                <td>{{ data.highRiseThreeBedroomDataset[loop.index - 1] }}</td>
                <td>{{ data.midRiseOneBedroomDataset[loop.index - 1] }}</td>
                <td>{{ data.midRiseTwoBedroomDataset[loop.index - 1] }}</td>
                <td>{{ data.midRiseThreeBedroomDataset[loop.index - 1] }}</td>
                <td>{{ data.lowRiseOneBedroomDataset[loop.index - 1] }}</td>
                <td>{{ data.lowRiseTwoBedroomDataset[loop.index - 1] }}</td>
                <td>{{ data.lowRiseThreeBedroomDataset[loop.index - 1] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
