<canvas id="material-prices" width="600" height="400"></canvas>
<script>
    ;(function () {
        const labels = {{ data.labels|json_encode|raw }};
        const data = {
            labels: labels,
            datasets: [
                {
                    label: 'Steel',
                    data: {{ data.steelDataset|json_encode|raw }},
                    borderColor: '#f3969a',
                    fill: false
                },
                {
                    label: 'Concrete',
                    data: {{ data.concreteDataset|json_encode|raw }},
                    borderColor: '#78c2ad',
                    fill: false
                },
                {
                    label: 'Bricks',
                    data: {{ data.bricksDataset|json_encode|raw }},
                    borderColor: '#6cc3d5',
                    fill: false
                },
            ]
        };

        const config = {
            type: 'line',
            data: data,
            options: {
                responsive: false,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Material prices'
                    }
                }
            },
        };

        new Chart('material-prices', config);
    })();
</script>
