<canvas id="meeting-demand" width="600" height="400"></canvas>
<script>
    ;(function () {
        const data = {
            labels: ['Met', 'Not met'],
            datasets: [
                {
                    label: 'Meeting demand',
                    data: {{ data.dataset|json_encode|raw }},
                    backgroundColor: ['#6cc3d5', '#888'],
                }
            ]
        };

        const config = {
            type: 'doughnut',
            data: data,
            options: {
                responsive: false,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Meeting demand in ' + {{ data.year|json_encode|raw }}
                    }
                }
            },
        };

        new Chart('meeting-demand', config);
    })();
</script>
