<canvas id="profit" width="1350" height="400"></canvas>
<script>
    ;(function () {
        const labels = {{ data.labels|json_encode|raw }};
        const data = {
            labels: labels,
            datasets: [
                {
                    label: 'Profit',
                    data: {{ data.dataset|json_encode|raw }},
                    backgroundColor: 'rgb(243, 150, 154, 0.5)',
                    borderColor: '#f3969a',
                    fill: true
                }
            ]
        };

        const config = {
            type: 'line',
            data: data,
            options: {
                responsive: false,
                plugins: {
                    legend: {
                        position: 'top',
                        display: false
                    },
                    title: {
                        display: true,
                        text: 'Profit'
                    }
                }
            },
        };

        new Chart('profit', config);
    })();
</script>
