<canvas id="sale" width="600" height="400"></canvas>
<script>
    ;(function () {
        const data = {
            labels: ['One-bedroom', 'Two-bedroom', 'Three-bedroom'],
            datasets: [
                {
                    label: 'Sales',
                    data: {{ data.dataset|json_encode|raw }},
                    backgroundColor: ['#f3969a', '#78c2ad', '#6cc3d5'],
                }
            ]
        };

        const config = {
            type: 'pie',
            data: data,
            options: {
                responsive: false,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Sales by type of apartments in ' + {{ data.year|json_encode|raw }}
                    }
                }
            },
        };

        new Chart('sale', config);
    })();
</script>
