<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Dashboard{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <h1 class="text-light">Dashboard</h1>
        </nav>
        <div class="container-fluid pt-5">
            <h3>Year: <span class="text-secondary">{{ saleData.year }}</span></h3>
            <h3>Profit: <span class="text-secondary">${{ profitData.dataset|last }}</span></h3>
            <div class="row">
                <div class="col mb-5">
                    <div class="card">
                        <div class="card-body">
                            {{ include('_profit.html.twig', {data: profitData}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-5">
                    <div class="card">
                        <div class="card-body">
                            {{ include('_meeting_demand.html.twig', {data: meetingDemandData}) }}
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card">
                        <div class="card-body">
                            {{ include('_sale.html.twig', {data: saleData}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-5">
                    <div class="card">
                        <div class="card-body">
                            {{ include('_material_price.html.twig', {data: materialPriceData}) }}
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card">
                        <div class="card-body">
                            {{ include('_construction.html.twig', {data: constructionData}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-5">
                    <div class="card">
                        <div class="card-body">
                            {{ include('_demand.html.twig', {data: demandData}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
